.textBlock__title {
  margin: 70px 0 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -1px;
}

.textBlock__paragraph {
  margin: 26px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .textBlock__paragraph {
    margin: 22px 0 0;
    font-size: 12px;
    line-height: 1.5;
  }
}

@media (max-width: 425px) {
  .textBlock__title {
    margin: 0;
    font-size: 18px;
  }

  .textBlock__paragraph {
    margin: 16px 0 0;
    font-size: 11px;
  }
}
