.moviesCardList {
  padding: 70px 70px 10px;
  flex: 1 1 auto;

  background: #202020;
  box-sizing: border-box;
}

.moviesCardList__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 37px 24px;
  justify-content: center;
  box-sizing: border-box;
}

@media (max-width: 1280px) {
  .moviesCardList {
    padding: 70px calc(30px + (70 - 30) * (100vw - 768px) / (1280 - 768)) 10px;
  }
}

@media (max-width: 768px) {
  .moviesCardList {
    padding: 70px calc(10px + (30 - 10) * (100vw - 320px) / (768 - 320)) 10px;
  }

  .moviesCardList__list {
    gap: 30px
  }
}

@media (max-width: 425px) {
  .moviesCardList {
    padding-top: 40px;
  }

  .moviesCardList__list {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 14px
  }
}
