.profile__title {
  margin-top: 74px;
  color: #fff;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
}

.profile__form {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  width: 100%;
  flex: 1 1 auto;
  max-width: 410px;
}

.profile__nav {
  margin: 16px 0 0;
  padding: 0 0 70px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.profile__navLink {
  text-decoration: none;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 500;
  color: #ee3465;
}

@media (max-width: 768px) {
  .profile__title {
    margin: 236px 0 0;
  }

  .profile__form {
    margin-top: 94px;
  }

  .profile__nav {
    padding: 0 0 270px;
  }
}

@media (max-width: 425px) {
  .profile__title {
    margin: 70px 0 0;
  }

  .profile__form {
    margin-top: 80px;
  }

  .profile__nav {
    padding: 0 0 40px;
    font-size: 12px;
  }
}
