.footer {
  padding: 80px calc(10px + (70 - 10) * (100vw - 320px) / (1740 - 320)) 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "title      title"
  "copyright  linkList";

  color: #FFF;
  background-color: #202020;
}

.footer__title {
  margin: 0;
  padding-bottom: 20px;
  grid-area: title;

  font-size: 13px;
  color: #8b8b8b;
  text-align: center;
  border-bottom: 1px solid #424242;
}

.footer__copyright {
  margin: 0;
  grid-area: copyright;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
}

.footer__list {
  grid-area: linkList;
  margin: 0;
  padding: 0;
  justify-self: end;
  display: flex;
  list-style: none;
  gap: 20px;
}

.footer__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  color: #FFF;
  text-decoration: none;
  transition: ease-in .2s;
}

.footer__link:hover {
  opacity: .7;
}

@media (max-width: 768px) {
  .footer {
    padding-top: 60px;
  }
}

@media (max-width: 425px) {
  .footer {
    grid-template-columns: auto;
    gap: 30px;
    grid-template-areas:
    "title"
    "linkList"
    "copyright"
  }

  .footer__list {
    grid-area: linkList;
    justify-self: center;
    display: flex;
    list-style: none;
  }

  .footer__copyright {
    grid-area: copyright;
    justify-self: center;
  }

  .footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}
