@import url(./vendor/normalize.css);
@import url(./vendor/font__inter.css);

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(42, 46, 48);

  font-family: Inter, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  flex: 1 1 auto;
}
